<input type="hidden" name="response_key_concept" id="response-key-concept" value="{{ addressed_key_concept }}" hx-swap-oob="true">

<div hx-swap-oob="true" id="chat-content">
    {% if error %}
        <div class="assistant-message">
            {{ error }}
        </div>
    {% else %}
        <div class="assistant-message">
            <i class="bi bi-chat-left-text-fill"></i>
            {{ assistant_message }}
        </div>
        {% if addressed_key_concept in valid_key_concepts and addressed_key_concept != no_key_concept %}
            <div class="key-concept-used">
                <i class="bi bi-info-circle-fill"></i>
                Key Concept: {{ addressed_key_concept }}
            </div>
        {% endif %}
    {% endif %}
</div>

<div hx-swap-oob="true" id="key-concepts-container">
    {% include "lessons/key_concepts_grid.html" with page=page addressed_key_concepts=addressed_key_concepts no_key_concept=no_key_concept %}
</div>

<div id="suggested-responses-container" hx-swap-oob="true">
    {% include "lessons/suggested_responses.html" with suggestions=suggestions %}
</div>