{% load wagtailcore_tags wagtailimages_tags %}

<h2 class="mb-3">Key Concepts</h2>
<div class="row row-cols-md-1 row-cols-lg-1 row-cols-xl-1 g-3 mb-4">
    {% for concept in page.key_concepts.all %}
        <div class="col">
            <div class="card h-100 {% if concept.concept in addressed_key_concepts %}bg-success{% else %}bg-white{% endif %}">
                {% if concept.image %}
                    {% image concept.image fill-200x200 as concept_image %}
                    <img src="{{ concept_image.url }}" class="card-img-top" alt="{{ concept.concept }}" style="object-fit: cover; height: 200px;">
                {% endif %}
                <div class="card-body p-2">
                    <p class="card-text mb-0 text-center">
                        {% if concept.concept in addressed_key_concepts %}
                        <svg 
                            xmlns="http://www.w3.org/2000/svg"
                            width="32" 
                            height="32" 
                            fill="white" 
                            class="animated-checkmark"
                            viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                        </svg> 
                        {% endif %}
                        {{ concept.concept }}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
