{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Log In</h2>
                </div>
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Log In</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p>Don't have an account? <a href="{% url 'django_registration_register' %}">Register here</a></p>
                    {% comment %} <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
